// 相对于组件所在路径
$footer-body-bg:'../../assets/img/footer/footerBG.png';
$l2-about-header-bg:'../../assets/img/about/worldmap.png';

.icon-nkn-logo{
  @include nkn-icon($width: 105px,$height: 40px);
  background-image: url(~@/assets/img/header/logo.png);
}

.pic-map-sf{
  @include nkn-icon($width: 80px,$height: 144px);
  background-image: url(~@/assets/img/about/SF.png);
}

.pic-map-beijing{
  @include nkn-icon($width: 80px,$height: 144px);
  background-image: url(~@/assets/img/about/Beijing.png);
}

.pic-team-yanbo{
  @include nkn-icon(110px, 110px);
  background-image: url(~@/assets/img/about/Yanbo.png);
}

.pic-team-bruce{
  @include nkn-icon(110px, 110px);
  background-image: url(~@/assets/img/about/Bruce.png);
}

.pic-team-yilun{
  @include nkn-icon(110px, 110px);
  background-image: url(~@/assets/img/about/Yilun.png);
}

.pic-team-allen{
  @include nkn-icon(110px, 110px);
  background-image: url(~@/assets/img/about/Allen.png);
}