@mixin nkn-icon($width, $height){
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: $width;height: $height;
  vertical-align: middle;
}

@mixin nkn-bg-img($url,$position:center,$size:100% 100%){
  background-image: url($url);
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
}
