@mixin nkn-icon($width, $height, $size:cover){
  display: inline-block;
  background-repeat: no-repeat;
  background-size: $size;
  background-position: center;
  width: $width;height: $height;
  vertical-align: middle;
}

@mixin nkn-bg-img($url,$position:center,$size:100% 100%, $clip: border-box){
  background: $url;
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $size;
  background-clip: $clip;
}

@mixin dot-style($width, $height, $bgcolor, $display: inline-block, $boxshadow: 0 0 0 0 #fff){
  display: $display;
  width: $width;height: $height;
  border-radius: 50%;
  background-color: $bgcolor;
  box-shadow: $boxshadow;
}
