@import './iconfont.css'; 

html{
  font-size: 14px;
  line-height: 1.5;
}

body{
  margin: 0;
}

ul{
  margin:0;padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

/*清除浮动代码*/
.clearfix{zoom:1}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}

/*二级页面标题*/
.l2-title{
  font-size: 48px;
  color: #363F57;
  text-align: center;
  line-height: 1;
}

.l2-title-light{
  font-size: 48px;
  color: #fff;
  text-align: center;
  line-height: 1;
}