@import './iconfont.css'; 

body{
  margin: 0;
}

ul{
  margin:0;padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

/*清除浮动代码*/
.clearfix{zoom:1}
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}

